:root {
    --accent-color: #FC6F71;
    --bg-color: #FBFAF5;
    --fg-color: #000;
    --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Merriweather", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: "Merriweather", Georgia, Garamond, serif;
    --fonts-mono: "JetBrains Mono", "FiraCode", "Souce Code Pro", "Courier New", monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #8049af;
        --bg-color: #111;
        --fg-color: #FBFAF5;
    }
}
html {
    /* font-family: var(--fonts); */
    font-size: clamp(1em, 1.3vw, 1.3em);
    color: var(--fg-color);
    background-color: var(--bg-color);
    overflow: hidden;
}
*::selection {
    color: var(--bg-color);
    background-color: var(--fg-color);
}
a:link {
    color: var(--accent-color);
}
a:visited {
    color: var(--accent-color);
}
body {
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}
header #header-bar {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    height: 5em;
    background: var(--accent-color);
}
main {
    max-width: 100ch;
    margin: 0 auto;
}
footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 8px;
}

/* @todo: Since this CSS is specific to that one page, maybe put it into its own CSS file? */
.file_list {
    padding: 0;
    width: 50vw;
}
.file_list li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    /* margin: 0.5em 0; */
    padding-top: 1em;
    box-shadow: 0 5px 5px -5px var(--accent-color);
}
.file_list li:hover {
    background-color: var(--bg-color);
    box-shadow: 3px 5px 5px var(--accent-color);

    position: relative;
    left: -15px;
    top: -10px;
    z-index: 5;
}
.file_list_main {
    font-size: 1.3em;
}
.file_list_detail {
    font-size: 0.8em;
    color: gray;
}
#file_list_mime {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: auto 0;
    color: var(--accent-color);
}
